*{
    
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
font-size: 15px;
display: flex;
    align-items: center;
    justify-content: center;
    
}
.qr-code-container{
    padding:0;
}