*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    
}
body{
    background-color:hsl(212, 45%, 89%);
    min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.image-container img {
    
    width: 265px;
    height: 255px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.main-container{
   
    width: 290px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-right:1% ;
   box-shadow:   2px 2px 2px hsl(180, 3%, 82%);
}

.content-container h1{
    
    color: hsl(218, 44%, 22%);
margin-top: 15px;
margin-right: 30px;
margin-bottom: 15px;
margin-left: 30px;
font-size: 20px;
font-weight: 700;

}
.content-container p{
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 15px;
   color: hsl(220, 15%, 55%);
  
}
footer{
    position: fixed;
    bottom: 0;
}